<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link href="../static/css/mycss.css" th:href="@{/css/myCSS.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="../static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" src="../static/js/cookie.js" th:src="@{/js/cookie.js}"></script>
    <script type="text/javascript" src="../static/js/login.js" th:src="@{/js/login.js}"></script>

</head>
<boby>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">学生请假系统</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html" th:href="@{/index}">首页</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">请假<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="leave.html" th:href="@{/leave}">申请请假</a></li>
                                        <li><a href="college.html" th:href="@{/college}">请假记录</a></li>
                                        <!--<li><a href="dorm.html" th:href="@{/dorm}">宿舍信息</a></li>-->
                                        <!--<li><a href="student.html" th:href="@{/student}">学生信息</a></li>-->

                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">销假<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="campus.html" th:href="@{/campus}">申请销假</a></li>
                                        <li><a href="college.html" th:href="@{/college}">销假记录</a></li>
                                        <!--<li><a href="discipline.html" th:href="@{/discipline}">专业信息</a></li>-->
                                        <!--<li><a href="class.html" th:href="@{/class}">班级信息</a></li>-->
                                        <!--<li><a href="dorm.html" th:href="@{/dorm}">宿舍信息</a></li>-->
                                        <!--<li><a href="student.html" th:href="@{/student}">学生信息</a></li>-->

                                    </ul>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">当前用户: <span id="currentUserName"></span></a></li>
                                <li><a href="#" onclick=logOut()>注销</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-1">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        导航栏
                    </li>
                    <li class="active">
                        <a>首页</a>
                    </li>
                    <li>
                        <a href="#">库</a>
                    </li>
                    <li>
                        <a href="#">应用</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-11">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            产品
                        </th>
                        <th>
                            交付时间
                        </th>
                        <th>
                            状态
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="error">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</boby>
</html>
