body {
    padding-top: 20px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
}

.forget{
    padding-left: 125px;
}

.select_li{
    background-color: #0f0f0f;
}

.table-color{
    background-color: white;
}

.add{
    padding-top: 50px;
}